.ProjectPage{
    width: 100%;
    padding-bottom: 2em;
    color: #000;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 400px;
    background: #ccc;
    margin-bottom: 1em;
}