.footer{
    max-width: 100%;
    background: #1d1c1c;
    color: #fff;
    padding: 20px;
    padding-bottom: 3em;
    margin-top: 1em;
    overflow: hidden;
}

.footer-box{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.footer-group img{
    width: 50%;
    display: flex;
    margin-left: 4em;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
}

.footer-group ul li{
    list-style-type: none;
}

.footer-group {
  text-align: left;
  line-height: 2.5em;
}
.footer-group p{
    font-weight: bold;
}

.social-media-icons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media (max-width: 480px) {
    .footer-box{
        grid-template-columns: 1fr;
        font-size: 12px;
    }
}

@media (max-width:768px){
    .footer-box{
        grid-template-columns: 1fr;
    }
}
    
@media (max-width:1024px){
  .footer-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
}